/*Intro*/
@-webkit-keyframes intro{
	from{
		z-index: 1001;
		opacity: 1;
	}
	80%{
		z-index: 1001;
		opacity: 1;
	}
	to{
		z-index: 1001;
		opacity: 0;
	}
}
@-moz-keyframes intro{
	from{
		z-index: 1001;
		opacity: 1;
	}
	80%{
		z-index: 1001;
		opacity: 1;
	}
	to{
		z-index: 1001;
		opacity: 0;
	}
}
@-ms-keyframes intro{
	from{
		z-index: 1001;
		opacity: 1;
	}
	80%{
		z-index: 1001;
		opacity: 1;
	}
	to{
		z-index: 1001;
		opacity: 0;
	}
}
@-o-keyframes intro{
	from{
		z-index: 1001;
		opacity: 1;
	}
	80%{
		z-index: 1001;
		opacity: 1;
	}
	to{
		z-index: 1001;
		opacity: 0;
	}
}
@keyframes intro{
	from{
		z-index: 1001;
		opacity: 1;
	}
	80%{
		z-index: 1001;
		opacity: 1;
	}
	to{
		z-index: 1001;
		opacity: 0;
	}
}

@-webkit-keyframes rotation{
	from{
		-webkit-transform:rotate(0deg);
	}
	to{
		-webkit-transform:rotate(720deg);
	}
}
@-moz-keyframes rotation{
	from{
		-moz-transform:rotate(0deg);
	}
	to{
		-moz-transform:rotate(720deg);			
	}
}
@-ms-keyframes rotation{
	from{
		-ms-transform:rotate(0deg);
	}
	to{
		-ms-transform:rotate(720deg);	
	}
}
@-o-keyframes rotation{
	from{
		-o-transform:rotate(0deg);
	}
	to{
		-o-transform:rotate(720deg);	
	}
}
@keyframes rotation{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(720deg);	
	}
}

html, body {
	padding:0;
	margin:0;
	height:100%;
	min-height: 650px;
	font-family: 'Open Sans', sans-serif;
}
#map{
	padding: 0;
	margin: 0;
	height: 100%;
}
header{
	height: 64px;
	margin-bottom: 12px;
	background-color: #000000;
	position: relative;
}
#logo {
	background-image: url(../img/timelife.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding: 25px; 
	margin:7px 17px 0px;
	display: inline-block;
	vertical-align: middle;
}
h1{
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}


#framecontentLeft{
	display: inline-block;
	width: 20%; /*taille div gauche*/
	height: calc(100% - 76px);
	overflow: hidden; /*desactive le scroll bar*/
	color: black;
	vertical-align: top;

}
#framecontentRight{
	display: inline-block;
	width: 80%;
	height: calc(100% - 76px);
	margin-left: -5px;
	vertical-align: top;
	position: relative;
}

#maincontent{
	top: 0;
	left: 0;
	right: 12px;
	bottom: 80px;
	position: absolute;
}

footer{
	position: absolute;
	bottom: 0;
	right: 12px;
	width: calc(100% - 12px);
	height: 80px;
}

* html body{ /*IE6 hack*/
	padding: 110px 0 120px 200px; /*Set value to (HeightOfTopFrameDiv  0 HeightOfBottomFrameDiv WidthOfLeftFrameDiv)*/
}

* html #maincontent{ /*IE6 hack*/
	height: 100%; 
	width: 100%; 
}
#menu ul{
	padding-left: 14px;
}
#menu li {
	display: block;
	list-style-type: none;
    width: 42px;
    height: 42px;
    border-radius: 21px; 
    background-color: #eeeeee;
    text-align: center;
    margin: 5px;
    position: relative;
	cursor: pointer;
}
#menu li span{
	position: absolute;
	left: 54px;
	top: 10px;
	cursor: pointer;
	width: 180px;
	text-align: left;
}

#menu img{
	
	margin-top: 6px;
}
#settings{
	position: absolute;
	top: 0;
	right: 7px;
}
#settings ul{
	margin: 10px 0;
}
#settings li{
	display: inline-block;
	list-style-type: none;
	margin: 5px;
	cursor: pointer;
}

#timeline{
	width: 100%;
	margin: 20px 0 0 0;
	-webkit-appearance: none;
	background-color: #0b61a4;
	height: 2px;
	vertical-align: middle;
}
#timeline::-moz-range-track {
	-moz-appearance: none;
	background-color: #0b61a4;
	height: 2px;
}
#timeline::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 25px;
	background-color: #ffffff;
	box-shadow:inset 0 0 20px rgba(000,000,000,0.3);
	border: 1px solid #cdcdcd;
	height: 28px;
	width: 28px;
}
#timeline::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 25px;
	background-color: #ffffff;
	box-shadow:inset 0 0 20px rgba(000,000,000,0.3);
	border: 1px solid #cdcdcd;
	height: 28px;
	width: 28px;
}
#numbers{
	width: 100%;
	position: relative;
	white-space: nowrap;
}
#numbers span{
	position: absolute;
	font-size: 20px;
	margin-left: -3px;
	min-width: 38px;
	cursor: pointer;
}
.petits{
	color: #e91212;
}
.pre_ados{
	color: #d51883;
}
.ados{
	color: #f8650f;
}
.jeunes_adultes{
	color: #02b3cb;
}
.jeunes_parents{
	color: #a402c5;
}
	.parents{
	color: #de9b03;
}
.fin_de_carriere{
	color: #349c06;
}
.grands_parents{
	color: #c26305;
}

svg g path, #menu ul li{
	-webkit-transition: all 800ms ease-out;
	-moz-transition: all 800ms ease-out;
	-o-transition: all 800ms ease-out;
	-ms-transition: all 800ms ease-out;
	transition: all 800ms ease-out;
}
#loading{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	text-align: center;
	-webkit-animation: intro 0.5s ease-in;
	-moz-animation: intro 0.5s ease-in;
	-ms-animation: intro 0.5s ease-in;
	-o-animation: intro 0.5s ease-in;
	animation: intro 0.5s ease-in;
	z-index: -1;
	opacity: 0;
}
#logo_loading{
	position: relative;
	top: calc(50% - 125px);
	-webkit-animation: rotation 0.2s ease-in-out;
	-moz-animation: rotation 0.2s ease-in-out;
	-ms-animation: rotation 0.2s ease-in-out;
	-o-animation: rotation 0.2s ease-in-out;
	animation: rotation 0.2s ease-in-out;
}
.leaflet-control-zoom.leaflet-bar.leaflet-control{
	display: none;
}
#overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	z-index: -1;
	opacity: 0;
}
#connection{
	text-align: center;
	position: fixed;
	top: calc(50% - 260px);
	left: calc(50% - 175px);
	width: 330px;
	height: 476px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 25px #bdbdbd;
	padding: 22px 10px;
}
#connection img.logo{
	width: 135px;
}
#connection img.close{
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}
#connection h2{
	font-weight: lighter;
	margin: 30px auto;
}
#facebook{
	background: url(../img/facebook.png) right no-repeat;
	padding-right: 70px;
	height: 45px;
	width: 130px;
	margin: 15px auto;
	text-align: left;
	cursor: pointer;
	color: #3B5998;
}
#regular_co{
	margin-top: 15px;
}
#regular_co input[type="text"]{
	margin-bottom: 10px;
	border-radius: 5px;
	width: 200px;
}
#regular_co input[type="submit"]{
	width: 100px;
	background-color: #e6e6e6;
	color: #3699de;
	border: none;
	margin-top: 25px;
	width: 200px;
	font-size: 24px;
	line-height: 40px;
	border-radius: 10px;
}
.unused{
	opacity: 0.5;
}
.filtered{
	opacity: 0.4 !important;
}